<div id="<%= dom_id bathroom %>">
  <p>
    <strong>Address:</strong>
    <%= bathroom.address %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= bathroom.hours %>
  </p>

  <p>
    <strong>Accessible:</strong>
    <%= bathroom.accessible %>
  </p>

  <p>
    <strong>Gender neutral:</strong>
    <%= bathroom.gender_neutral %>
  </p>

  <p>
    <strong>Family accessible:</strong>
    <%= bathroom.family_accessible %>
  </p>

  <p>
    <strong>Purchase required:</strong>
    <%= bathroom.purchase_required %>
  </p>

</div>
