<div id="new-bath-form">
  <%= form_with(model: bathroom) do |form| %>
    <% if bathroom.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(bathroom.errors.count, "error") %> prohibited this bathroom from being saved:</h2>

        <ul>
          <% bathroom.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :address, style: "display: block" %>
      <%= form.text_field :address %>
    </div>

    <div>
      <%= form.label :hours, style: "display: block" %>
      <%= form.text_field :hours %>
    </div>

    <div>
      <%= form.check_box :accessible %>
      <%= form.label :accessible, "Is it accessible?", style: "display: in-line block" %>
    </div>

    <div>
      <%= form.check_box :gender_neutral%>
      <%= form.label :gender_neutral, "Are there gender neutral bathrooms available?",style: "display: in-line block" %>
    </div>

    <div>
      <%= form.check_box :family_accessible %>
      <%= form.label :family_accessible, "Are there changing tables?",style: "display: in-line block" %>
    </div>

    <div>
      <%= form.check_box :purchase_required %>
      <%= form.label :purchase_required, "Are you required to purchase anything to use this bathroom?",style: "display: in-line block" %>
    </div>

    <div>
      <%= form.submit class:"button-3" %>
    </div>
  <% end %>
</div>
