<head>
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
</head>
<body>
  <%= render partial: "shared/navbar" %>
  <p style="color: green"><%= notice %></p>

  <div id="map">
  </div>

  <div id="search-form">
    <%= form_tag bathrooms_path, method: :get do %>
      <%= label :location, "Bathrooms near (address): " %>
      <%= text_field_tag :location, params[:location] %>
      <%= label :distance, "Distance (in miles): " %>
      <%= text_field_tag :distance, params[:distance] %>

      <div id="check-boxes">

        <%= label :accessible, "Accessible: " %>
        <%= check_box_tag :accessible, 'true', params[:accessible] %>

        <%= label :gender_neutral, "Gender Neutral: " %>
        <%= check_box_tag :gender_neutral, 'true', params[:gender_neutral] %>

        <%= label :family_accessible, "Family Accessible: " %>
        <%= check_box_tag :family_accessible, 'true', params[:family_accessible] %>

        <%= label :purchase_required, "Free Access: " %>
        <%= check_box_tag :purchase_required, 'true', params[:purchase_required] %>

      </div>

      <%= submit_tag "Search" %>
    <% end %>
  </div>

<script>
  var api_key = '<%= ENV["MAPBOX_API_KEY"] %>';
  mapboxgl.accessToken = api_key;
  const map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mapbox/light-v11', // style URL
    center: [-87.623177, 41.881832], // starting position [lng, lat]
    zoom: 9, // starting zoom
  });

  map.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
      enableHighAccuracy: true
    },
    trackUserLocation: true,
    showUserHeading: true
  }));

  const nav = new mapboxgl.NavigationControl({
    visualizePitch: true
  });

  map.addControl(nav, 'bottom-right');

  // Declare the marker variable outside the loop
  let marker;
  let popup;
  let coordinate_set;
  let address;


 // Loop through bathroom coordinates
  <% @bathrooms.each do |bathroom| %>
    // Extract coordinates and address from bathroom object
    coordinate_set = [<%= bathroom.longitude %>, <%= bathroom.latitude %>];
    address = '<%= bathroom.address %>';

    // Create marker
    marker = new mapboxgl.Marker({
      color: "#76B223",
    }).setLngLat(coordinate_set)
      .addTo(map);

    // Create popup with address information

    var googleMapsLink = 'https://maps.google.com/?q=' + encodeURIComponent(address);
    var popupContent = '<h3>Address</h3><p><a href="' + googleMapsLink + '" target="_blank">' + address + '</a></p>';
    // Creating the popup with the modified content
    popup = new mapboxgl.Popup()
      .setHTML(popupContent);
  <% end %>
</script>
  

  <div id="bathrooms-list">
    <h2>List of bathrooms</h2>
    <div class="cards">
      <% @bathrooms.each do |bathroom| %>
        <%= render bathroom %>

        <br>
      <% end %>
    </div>
  </div>

  <div id='pagination'>
    <%= paginate @bathrooms %>
  </div>

  <div id="add-link">
    <%= link_to "Add a new bathroom to our database", new_bathroom_path %>
  </div>
</body>
