<head>
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
</head>
<body>
  <p style="color: green"><%= notice %></p>

  <div id="map">
  </div>

<script>
  var api_key = '<%= ENV["MAPBOX_API_KEY"] %>';
  mapboxgl.accessToken = api_key;
  const map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mapbox/light-v11', // style URL
    center: [-87.623177, 41.881832], // starting position [lng, lat]
    zoom: 9, // starting zoom
  });

  map.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
      enableHighAccuracy: true
    },
    trackUserLocation: true,
    showUserHeading: true
  }));

  const nav = new mapboxgl.NavigationControl({
    visualizePitch: true
  });

  map.addControl(nav, 'bottom-right');

  // Declare the marker variable outside the loop
  let marker;
  let popup;
  let coordinate_set;
  let address;

 // Loop through bathroom coordinates
  <% @bathrooms.each do |bathroom| %>
    // Extract coordinates and address from bathroom object
    coordinate_set = [<%= bathroom.longitude %>, <%= bathroom.latitude %>];
    address = '<%= bathroom.address %>';

    // Create marker
    marker = new mapboxgl.Marker({
      color: "#76B223",
    }).setLngLat(coordinate_set)
      .addTo(map);

    // Create popup with address information
    popup = new mapboxgl.Popup()
      .setHTML('<h3>Address</h3><p>' + address + '</p>');

    // Associate popup with marker
    marker.setPopup(popup);
  <% end %>
</script>
  

  <div id="bathrooms-list">
    <h2>List of bathrooms</h2>
    <% @bathrooms.each do |bathroom| %>
      <%= render bathroom %>
      <p>
        <%= link_to "Show this bathroom", bathroom %>
      </p>
      <br>
    <% end %>
  </div>

  <div id="add-link">
    <%= link_to "Add a new bathroom to our database", new_bathroom_path %>
  </div>
</body>
