<%= render partial: "shared/navbar" %>
<p style="color: green"><%= notice %></p>
<div id="bathrooms-show">
  <%= render @bathroom %>

  <%= render "favorites/form" %>


  <h2>Reviews of this bathroom</h2>
  <% @bathroom.reviews.each do |review| %>
    <p>User <%=review.user_id%>'s comment: <%= review.body %></p>
    <%= button_to "Delete review", review_path(review), method: :delete %>
  <%end%>
  <div>
    <%= render "reviews/form", review: @bathroom.reviews.build %>
  </div>

  <div>
    <%= link_to "Edit this bathroom's information", edit_bathroom_path(@bathroom) %> |
    <%= link_to "Back to all bathrooms", bathrooms_path %> | 
    <a href = "/bathrooms/new">Add another bathroom to our database</a>
    <%= button_to "Delete this bathroom from the database", @bathroom, method: :delete, class: 'button-3' %>
  </div>
</div>
