<p style="color: green"><%= notice %></p>

<%= render @bathroom %>

<div>
  <%= link_to "Edit this bathroom", edit_bathroom_path(@bathroom) %> |
  <%= link_to "Back to bathrooms", bathrooms_path %>

  <%= button_to "Destroy this bathroom", @bathroom, method: :delete %>
</div>
