<%= render partial: "shared/navbar" %>
<p style="color: green"><%= notice %></p>
<div id="bathrooms-show">
  <%= render @bathroom %>

  <button class="button-3" onclick="renderFavoritesForm()">Add this bathroom to Favorites</button>

  <script>
    function renderFavoritesForm() {
      // Get the current URL
      var currentUrl = window.location.href;

      // Create a hidden form element
      var form = document.createElement("form");
      form.method = "get";
      form.action = currentUrl; // Set the action URL to the current page URL

      // Add necessary parameters
      var favoriteInput = document.createElement("input");
      favoriteInput.type = "hidden";
      favoriteInput.name = "favorite[user_id]";
      favoriteInput.value = "<%= current_user.id %>";
      form.appendChild(favoriteInput);

      // Submit the form
      document.body.appendChild(form);
      form.submit();
    }
  </script>


  <h2>Reviews of this bathroom</h2>
  <% @bathroom.reviews.each do |review| %>
    <p>User <%=review.user_id%>'s comment: <%= review.body %></p>
    <%= button_to "Delete review", review_path(review), method: :delete %>
  <%end%>
  <div>
    <h2> Add a new review to this restroom: </h2>
    <%= render "reviews/form", review: @bathroom.reviews.build %>
  </div>

  <div>
    <%= link_to "Edit this bathroom", edit_bathroom_path(@bathroom) %> |
    <%= link_to "Back to bathrooms", bathrooms_path %> | 
    <a href = "/bathrooms/new">Add another bathroom</a>
    <%= button_to "Delete this bathroom from the database", @bathroom, method: :delete, class: 'btn' %>
  </div>
</div>
