<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.hidden_field :bathroom_id, value: @bathroom.id %>
  </div>

  <div>
    <%= form.label :body, "If you used this restroom please add your review: ", style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit "Add review", class: "button-3" %>
  </div>
<% end %>
