<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'styles.css' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/91670b1cef.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>

    <script src='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
    <div id="header">
        <div class="topnav">
        <a href="#home" class="active"></a>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
          <a href="/users/<%=current_user.id%>">My Favorites</a>
          <a href="/">Home</a>
          <a href="/bathrooms/new">Add a new bathroom</a>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars fa-2xl"></i>
        </a>

      <img src="/assets/Right2RestroomsLogo.png" alt="person sitting on the letters R2R">
      <h1>Right2Restrooms</h1>
      <p>Find the public bathroom YOU need!</p>
      </div>
    </div>

    <script>
      function myFunction() {
        var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
      }
  </script>


    <%= yield %>
  </body>
</html>
